@use '../../../styles/variables';
@use '../../../styles/colors';

/*-------| SocialLinks |--------*/
ul.socialLinks {
  li {
    list-style: none;
    display: inline-block;
    margin-left: variables.$grid-1x;
    button {
      background-color: colors.$secondary-hover;
      svg {
        fill: colors.$white;
        font-size: 0.8rem;
      }

      &:hover {
        background-color: colors.$primary;
      }
    }
  }
}