@use "../../../styles/variables";
@use "../../../styles/colors";

/*-------| Courtesy |--------*/
.curtesy {
  background: colors.$secondary;
  color: colors.$territory-hover;
  padding: variables.$half-grid 0;
  align-items: center;

  .curtseyLinks {
    ul {
      list-style: none;

      li {
        display: inline-block;
        padding-top: variables.$half-grid;
        position: relative;
        &::before {
          content: "-";
          color: colors.$secondary-text;
        }

        &:first-child {
          &::before {
            content: "";
          }
        }
        a {
          color: colors.$territory-hover;
          font-size: 0.8rem;
          text-decoration: none;
          padding: variables.$grid-1x variables.$grid-2x variables.$half-grid;
          &:hover {
            color: colors.$white100;
          }
        }
      }
    }
  }
}

/*-------| Header |--------*/
header {
  background-color: colors.$white;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: variables.$grid-1x 0;
  }
  .logo {
    a {
      width: calc(variables.$default-grid * 18);
      img {
        width: 100%;
      }
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;

      li {
        a {
          color: colors.$black300;
          text-decoration: none;
          font-family: variables.$SodoSansSemiBold;
          padding: variables.$grid-1x variables.$grid-2x;
          &:hover {
            color: colors.$black;
          }
        }
      }
    }
  }

  .user-menu {
    color: colors.$territory-text;
    .user-icon {
      font-size: 1.2rem;
      margin-top: variables.$half-grid;
    }
  }

  .menu-anchor {
    svg {
      fill: colors.$territory-text;
      font-size: 1.1rem;
    }
  }
}

//1024 and down
@media only screen and (max-width: variables.$breakpoint-sm-desktop) {
  /*-------| Courtesy |--------*/
  .curtesy {
    display: none;
  }

  /*-------| Header |--------*/
  header {
    .container {
      padding: variables.$half-grid;
    }
    .logo {
      a {
        margin: 0 auto;
      }
    }

    .mobile-nav {
      padding: variables.$grid-1x;
      svg {
        fill: colors.$secondary-hover;
        font-size: 1.3rem;

        &:hover {
          fill: colors.$black;
        }
      }
    }

    button.MuiButtonBase-root.primary-btn {
      padding: variables.$grid-1x;
    }
  }
}
