@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.confirm-dialog {
  .MuiPaper-root {
    background-color: $white;
    @include roundCorner($grid-1x);
    padding: 0 0 $grid-1x;
    overflow: hidden;

    .dialog-header {
      background-color: $secondary-hover ;
      padding: 0 $grid-2x;
      h2 {
        font-size: 1.1rem;
        font-family: $SodoSans;
        color: $territory;
        padding: $grid-1x 0 $half-grid;
      }

      button {
        color: $territory;
      }
    }

    .dialog-content {
      padding: calc($grid-1x - 2px) calc($grid-1x);
    }

    .MuiDialogActions-root {
      flex-direction: "row";
      padding: $grid-2x $grid-1x calc($grid-1x/2);

      button {
        width: 100%;
        font-size: 1.1rem;
        margin: 0 calc($grid-1x - 4px) calc($grid-1x - 4px);
        padding: $grid-1x 0;
      }
    }
  }
}
