@import "fonts";
@import "reset";
@import "inheritance";

/*-------| Main |--------*/
html {
  font-size: 18px;
  font-family: $SodoSans;
  color: $primary-text;
}
body {
  background-color: $white400;
}
main {
  padding: calc($grid-2x + 4px) 0 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

/*-------| DropDown menu |--------*/
.dropdown-menu {
  .MuiMenu-paper {
    @include boxShadow(-1px 0px 11px rgba(0, 0, 0, 0.3));
    border-radius: 0 0 $grid-1x $grid-1x;

    ul {
      li {
        font-size: 0.9rem;
        color: $secondary-hover;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

/*-------| Footer |--------*/
footer {
  background: $black;
  .logo {
    img {
      width: calc($default-grid * 18);
    }
  }
  p.MuiTypography-root {
    font-size: 0.9rem;
    color: $white;
    font-family: $SodoSans;
  }
  h4.MuiTypography-root {
    color: $white;
    padding-bottom: $grid-1x;
  }

  .footer-links {
    ul {
      list-style: none;
      li {
        padding: $grid-1x 0;
        a {
          color: $white;
          font-size: 0.9rem;
          text-decoration: none;
          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}

/*-------| Banner |--------*/
.banner {
  position: relative;
  background: linear-gradient(90deg, #ff7e5f 0%, #feb47b 100%);
  background-repeat: no-repeat;
  color: $territory;
  text-align: center;

  .lordShiva {
    img {
      width: 90%;
      opacity: 0.25;
    }
  }

  h1.MuiTypography-root {
    font-family: $SodoSansSemiBold;
    font-size: 5rem;
  }
  h2.MuiTypography-root {
    font-family: $SodoSansSemiBold;
    font-size: 2rem;
    color: $territory;
  }
  .circle {
    width: $grid-3x * 5;
    height: $grid-3x * 5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $territory;
  }

  .dateCircle {
    background-color: $black300;
    border: double 5px $white300;
  }

  .timeCircle {
    background-color: $black600;
    border: double 5px $white300;
  }
}

/*-------| Section1 |--------*/
.section1 {
  .container {
    background-color: $white;
    padding: $grid-5x;
    @include boxShadow(rgba(0, 0, 0, 0.1) 3px 4px 122px 0px);
  }

  .imgWrap {
    img {
      width: 100%;
    }
  }

  .support-icons {
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-left: $grid-1x;
        button {
          background-color: $orange;
          border: 1px solid $orange;
          transition: all 0.6s ease-in-out;
          svg {
            fill: $white;
          }

          &:hover {
            background-color: $white;
            svg {
              fill: $orange;
            }
          }
        }
      }
    }
  }

  h1 {
    margin-top: $grid-3x;
    color: $black;
    font-family: $SodoSansSemiBold;
    font-size: 3rem;
  }

  .duration {
    padding: $grid-3x 0;
    p {
      color: $orange;
      font-family: $SodoSans;
      svg {
        margin-top: $half-grid;
      }
    }
  }

  .section-text {
    p {
      color: $black400;
      font-family: $SodoSans;
    }
  }
}

/*-------| Section2 |--------*/
.section2 {
  text-align: center;

  .widget {
    .imgWrap {
      img {
        width: 50%;
        margin: $grid-2x auto;
      }
    }

    .section-text {
      p {
        color: $black400;
        font-family: $SodoSans;
      }
    }
  }
}

/*-------| Section3 |--------*/
.section3 {
  .widget {
    .widget-text {
      &.left {
        margin-right: $grid-5x;
      }
      &.right {
        margin-left: $grid-5x;
      }

      .textSource {
        color: $orange;
      }
    }
    .widget-img {
      img {
        width: 100%;
      }
    }
  }
}

/*-------| Form |--------*/
.formWrapper {
  padding: $grid-2x;
}

/*-------| Product Page |--------*/
.ProductCard {
  padding: $grid-1x;
  margin: $grid-1x 0;
  background-color: $white200;

  h4.MuiTypography-root {
    font-size: 1.2rem;
  }
  .imgWrapper {
    img {
      width: 50%;
      margin: 0 auto;
    }
  }

  .price {
    margin: $grid-1x 0;

    .buyPrice {
      color: $primary;
    }
  }

  .shippingInfo {
    margin: $grid-1x 0;
  }
}

.pagination {
  .activePage {
    color: $territory-text;
  }

  span {
    padding: 0 $grid-1x;
    margin: 0 $grid-1x;
    cursor: pointer;

    &.disable {
      visibility: hidden;
    }
  }
}

/*-------| Product Detail Page |--------*/
.ProductDetail {
  margin: $grid-3x 0;
  .img-wrap {
    img {
      width: 100%;
    }
  }
}

/*-------| Profile Page |--------*/
.profile-container {
  .left-side {
    background-color: $white200;
    padding: $grid-2x;
  }
}

.profile-image {
  justify-content: center;
  svg {
    font-size: 10rem;
    fill: $black300;
    width: 100%;
  }

  img {
    width: 50%;
    border-radius: 50%;
  }
}
