@use "fonts";
@use "reset";
@use "inheritance";
@use "variables";
@use "colors";
@use "mixins";

/*-------| Main |--------*/
html {
  font-size: 18px;
  font-family:variables.$SodoSans;
  color: colors.$primary-text;
}
body {
  background-color: colors.$white400;
}
main {
  padding: calc(variables.$grid-2x + 4px) 0 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

/*-------| DropDown menu |--------*/
.dropdown-menu {
  .MuiMenu-paper {
    @include mixins.boxShadow(-1px 0px 11px rgba(0, 0, 0, 0.3));
    border-radius: 0 0 variables.$grid-1x variables.$grid-1x;

    ul {
      li {
        font-size: 0.9rem;
        color: colors.$secondary-hover;
        &:hover {
          color: colors.$secondary;
        }
      }
    }
  }
}

/*-------| Footer |--------*/
footer {
  background: colors.$black;
  .logo {
    img {
      width: calc(variables.$default-grid * 18);
    }
  }
  p.MuiTypography-root {
    font-size: 0.9rem;
    color: colors.$white;
    font-family: variables.$SodoSans;
  }
  h4.MuiTypography-root {
    color: colors.$white;
    padding-bottom: variables.$grid-1x;
  }

  .footer-links {
    ul {
      list-style: none;
      li {
        padding: variables.$grid-1x 0;
        a {
          color: colors.$white;
          font-size: 0.9rem;
          text-decoration: none;
          &:hover {
            color: colors.$orange;
          }
        }
      }
    }
  }
}

/*-------| Banner |--------*/
.banner {
  position: relative;
  background: linear-gradient(90deg, #ff7e5f 0%, #feb47b 100%);
  background-repeat: no-repeat;
  color: colors.$territory;
  text-align: center;

  .lordShiva {
    img {
      width: 90%;
      opacity: 0.25;
    }
  }

  h1.MuiTypography-root {
    font-family: variables.$SodoSansSemiBold;
    font-size: 5rem;
  }
  h2.MuiTypography-root {
    font-family: variables.$SodoSansSemiBold;
    font-size: 2rem;
    color: colors.$territory;
  }
  .circle {
    width: variables.$grid-3x * 5;
    height: variables.$grid-3x * 5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$territory;
  }

  .dateCircle {
    background-color: colors.$black300;
    border: double 5px colors.$white300;
  }

  .timeCircle {
    background-color: colors.$black600;
    border: double 5px colors.$white300;
  }
}

/*-------| Section1 |--------*/
.section1 {
  .container {
    background-color: colors.$white;
    padding: variables.$grid-5x;
    @include mixins.boxShadow(rgba(0, 0, 0, 0.1) 3px 4px 122px 0px);
  }

  .imgWrap {
    img {
      width: 100%;
    }
  }

  .support-icons {
    ul {
      list-style: none;
      li {
        display: inline-block;
        margin-left: variables.$grid-1x;
        button {
          background-color: colors.$orange;
          border: 1px solid colors.$orange;
          transition: all 0.6s ease-in-out;
          svg {
            fill: colors.$white;
          }

          &:hover {
            background-color: colors.$white;
            svg {
              fill: colors.$orange;
            }
          }
        }
      }
    }
  }

  h1 {
    margin-top: variables.$grid-3x;
    color: colors.$black;
    font-family: variables.$SodoSansSemiBold;
    font-size: 3rem;
  }

  .duration {
    padding: variables.$grid-3x 0;
    p {
      color: colors.$orange;
      font-family: variables.$SodoSans;
      svg {
        margin-top: variables.$half-grid;
      }
    }
  }

  .section-text {
    p {
      color: colors.$black400;
      font-family: variables.$SodoSans;
    }
  }
}

/*-------| Section2 |--------*/
.section2 {
  text-align: center;

  .widget {
    .imgWrap {
      img {
        width: 50%;
        margin: variables.$grid-2x auto;
      }
    }

    .section-text {
      p {
        color: colors.$black400;
        font-family: variables.$SodoSans;
      }
    }
  }
}

/*-------| Section3 |--------*/
.section3 {
  .widget {
    .widget-text {
      &.left {
        margin-right: variables.$grid-5x;
      }
      &.right {
        margin-left: variables.$grid-5x;
      }

      .textSource {
        color: colors.$orange;
      }
    }
    .widget-img {
      img {
        width: 100%;
      }
    }
  }
}

/*-------| Form |--------*/
.formWrapper {
  padding: variables.$grid-2x;

  // input{
  //   padding: variables.$grid-1x;
  // }
}

.password-rules {
  list-style: disc;
  padding: 0 variables.$grid-2x;

  li {
    font-size: 0.9rem;
    margin-bottom: variables.$grid-1x;

    &.valid {
      color: colors.$primary;
    }
  }
}



/*-------| Product Page |--------*/
.ProductCard {
  padding: variables.$grid-1x;
  margin: variables.$grid-1x 0;
  background-color: colors.$white200;

  h4.MuiTypography-root {
    font-size: 1.2rem;
  }
  .imgWrapper {
    img {
      width: 50%;
      margin: 0 auto;
    }
  }

  .price {
    margin: variables.$grid-1x 0;

    .buyPrice {
      color: colors.$primary;
    }
  }

  .shippingInfo {
    margin: variables.$grid-1x 0;
  }
}

.pagination {
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
  .activePage {
    color: colors.$territory-text;
  }

  span {
    padding: 0 variables.$grid-1x;
    margin: 0 variables.$grid-1x;
    cursor: pointer;

    &.disable {
      visibility: hidden;
    }
  }
}

/*-------| Product Detail Page |--------*/
.ProductDetail {
  margin: variables.$grid-3x 0;
  .img-wrap {
    img {
      width: 100%;
    }
  }
}

/*-------| Profile Page |--------*/
.profile-container {
  .left-side {
    background-color: colors.$white200;
    padding: variables.$grid-2x;
  }
}

.profile-image {
  justify-content: center;
  svg {
    font-size: 10rem;
    fill: colors.$black300;
    width: 100%;
  }

  img {
    width: 50%;
    border-radius: 50%;
  }
}
