@use "variables";
@use "colors";
@use "mixins";

/*-------| Button Classes |--------*/
button.MuiButtonBase-root {
  font-size: 1rem;
  font-family: variables.$SodoSans;
  text-transform: none;
  transition: all 0.6s ease-in-out;

  &.primary-btn {
    background-color: colors.$primary;
    color: colors.$white;
    padding: variables.$grid-1x variables.$grid-3x;

    &:hover {
      background-color: colors.$orange300;
    }

    &.MuiButton-text {
      background-color: transparent;
      color: colors.$territory-text;
      padding: variables.$grid-1x variables.$grid-2x;
    }

    &.MuiButton-outlined {
      background-color: colors.$white;
      border: 1px solid colors.$primary;
      color: colors.$orange;
      padding: variables.$grid-1x variables.$grid-3x;

      &:hover {
        background-color: colors.$primary;
        color: colors.$white;
      }
    }
  }

  &.secondary-btn {
    background-color: colors.$white;
    border: 1px solid colors.$primary;
    color: colors.$orange;
    padding: variables.$grid-1x variables.$grid-3x;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: colors.$orange;
      color: colors.$white;
    }
  }
  &.cancel-btn {
    background-color: colors.$white;
    border: 1px solid colors.$territory-text;
    color: colors.$territory-text;
    padding: variables.$grid-1x variables.$grid-3x;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: colors.$blue700;
    }
  }
}


/*-------| Icons Button Classes |--------*/
button.MuiIconButton-root {
  font-size: 1rem;
  transition: all 0.6s ease-in-out;

  &.primary-btn {
    background-color: colors.$primary;
    color: colors.$white;
    padding: variables.$grid-1x;

    &:hover {
      background-color: colors.$orange300;
    }

    &.MuiButton-text {
      background-color: transparent;
      color: colors.$territory-text;
      padding: variables.$grid-1x;
    }

    &.MuiButton-outlined {
      background-color: colors.$white;
      border: 1px solid colors.$primary;
      color: colors.$orange;
      padding: variables.$grid-1x;

      &:hover {
        background-color: colors.$primary;
        color: colors.$white;
      }
    }
  }

  &.secondary-btn {
    background-color: colors.$white;
    border: 1px solid colors.$primary;
    color: colors.$orange;
    padding: variables.$grid-1x;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: colors.$orange;
      color: colors.$white;
    }
  }
  &.cancel-btn {
    background-color: colors.$white;
    border: 1px solid colors.$territory-text;
    color: colors.$territory-text;
    padding: variables.$grid-1x;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: colors.$blue700;
    }
  }
}
