@import "variables";
@import "colors";
@import "mixins";
@import "buttons";

* {
  margin: 0;
  padding: 0;
}

/*--------| HTML, Body |---------*/
html {
  line-height: 1.38;
  font-family: $SodoSans;
  color: $primary-text;
}

/*--------| Alignment |---------*/
.left {
  float: left;
}

.right {
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/*--------| Text Decoration |---------*/
.underline {
  text-decoration: underline;
}

/*--------| Headings |---------*/

h1.MuiTypography-root {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2.MuiTypography-root {
  font-size: 2.1rem;
  line-height: 1.2;
  font-family: $SodoSansSemiBold;
  color: $black300;
}

h3.MuiTypography-root {
  font-size: 1.8rem;
  line-height: 1.26;
}

h4.MuiTypography-root {
  font-size: 1.4rem;
  font-family: $SodoSansSemiBold;
  color: $black300;
}

h5.MuiTypography-root {
  font-size: 1.4rem;
}

h6.MuiTypography-root {
  font-size: 1.2rem;
}

.MuiTypography-body2 {
  font-size: 0.85rem;
}

/*--------| Spacing |---------*/
.p-1 {
  padding: $grid-1x;
}

.p-2 {
  padding: $grid-2x;
}

.p-3 {
  padding: $grid-3x;
}

.p-4 {
  padding: $grid-4x;
}
.pt-1 {
  padding-top: $grid-1x;
}

.pt-2 {
  padding-top: $grid-2x;
}

.pt-3 {
  padding-top: $grid-3x;
}

.pt-4 {
  padding-top: $grid-4x;
}

.pb-1 {
  padding-bottom: $grid-1x;
}

.pb-2 {
  padding-bottom: $grid-2x;
}

.pb-3 {
  padding-bottom: $grid-3x;
}

.pb-4 {
  padding-bottom: $grid-4x;
}

.pl-1 {
  padding-left: $grid-1x;
}

.pl-2 {
  padding-left: $grid-2x;
}

.pl-3 {
  padding-left: $grid-3x;
}

.pl-4 {
  padding-left: $grid-4x;
}

.pr-1 {
  padding-right: $grid-1x;
}

.pr-2 {
  padding-right: $grid-2x;
}

.pr-3 {
  padding-right: $grid-3x;
}

.pr-4 {
  padding-right: $grid-4x;
}

.mt-1 {
  margin-top: $grid-1x;
}

.mt-2 {
  margin-top: $grid-2x;
}

.mt-3 {
  margin-top: $grid-3x;
}

.mt-4 {
  margin-top: $grid-4x;
}

.mb-1 {
  margin-bottom: $grid-1x;
}

.mb-2 {
  margin-bottom: $grid-2x;
}

.mb-3 {
  margin-bottom: $grid-3x;
}

.mb-4 {
  margin-bottom: $grid-4x;
}

.ml-1 {
  margin-left: $grid-1x;
}

.ml-2 {
  margin-left: $grid-2x;
}

.ml-3 {
  margin-left: $grid-3x;
}

.ml-4 {
  margin-left: $grid-4x;
}

.mr-1 {
  margin-right: $grid-1x;
}

.mr-2 {
  margin-right: $grid-2x;
}

.mr-3 {
  margin-right: $grid-3x;
}

.mr-4 {
  margin-right: $grid-4x;
}

/*-------| Color Classes |--------*/
.white {
  color: $white;
}

.black {
  color: $black;
}

.green500 {
  color: $green500;
}
.blue{
  color: $territory-text;
}

.primary-text {
  color: $primary-text;
}

.primary-text-hover {
  color: $primary-text-hover;
}

.secondary-text {
  color: $secondary-text;
}

.line-through{
  text-decoration: line-through;
}
.danger-text{
  color:$red500;
}


/*-------| Fonts Classes |--------*/
.MuiTypography-root {
  &.regular-font {
    font-family: $SodoSans;
  }
  &.regularItalic-font {
    font-family: $SodoSansItalic;
  }

  &.semi-bold-font {
    font-family: $SodoSansSemiBold;
  }

  &.semi-bold-italic {
    font-family: $SodoSansSemiBoldItlic;
  }

  &.bold-font {
    font-family: $SodoSansBold;
  }
}
