@use "../../../styles/colors";

.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    span.MuiCircularProgress-root {
        color: colors.$secondary-text;
    }

    &.fullScreen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: colors.$green800;
        z-index: 2;
    }

}